version: "3.9"

networks:
  - backend:

services:
  nginx:
    depends_on:
      - app_django
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./static:/static
    networks:
      - backend

  postgres:
    image: postgres:alpine
    deploy:
      resourses:
       limits:
         cpus: "0.5"
         memory: 1G
    env_file:
      - db.env
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -u postgres -d clientinfo_db"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
	
  app_django:
    depends_on:
      - postgres
      
    image: docker_compose_prod:1.0 
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    networks:
      - backend
  	


